.gallery-uploader {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;

	.file-selector {
		border: 1px solid #dee2e6;
		height: 200px;
		border-radius: 5px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.25s;
		cursor: pointer;

		&& input {
			position: absolute;
			width: 100%;
			height: 20px;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			opacity: 0.01;
			cursor: pointer;
			z-index: -1;
		}

		&&::before {
			content: '';
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			border: 1px dashed transparent;
			position: absolute;
			top: 5px;
			left: 5px;
			border-radius: calc(0.375rem - 5px);
			box-sizing: border-box;
		}

		&&:hover {
			background-color: #0d6efd;
			color: #fff;
		}

		&&:hover::before {
			border-color: #fff;
		}
	}

	&&.drag-over .image-container::before {
		content: '';
		display: block;
		position: absolute;
		background: rgba(255, 255, 255, 0.01);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
	}
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 1px solid #dee2e6;
	height: 200px;
	border-radius: 2px;

	&& .media {
		opacity: 0;
		display: block;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		margin: auto;
		transition: opacity 0.5s;
	}

	&&.loading .media {
		opacity: 0;
	}

	&&.warning .media,
	&&.error .media {
		opacity: 0.5;
	}

	&&.success .media {
		opacity: 1;
	}

	&&.drag-start {
		opacity: 0.4;
	}

	&&.drag-over {
		border-style: dotted;
		box-shadow: 0 0 5px #007bff;
	}

	.header,
	.footer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		padding: 2px;
	}

	.footer {
		top: auto;
		bottom: 0;
	}

	.button {
		--color-normal: rgba(255, 255, 255, 0.5);
		position: relative;
		width: 20px;
		height: 20px;

		.dispatcher {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.01;
		}

		.icon {
			display: block;
			width: 100%;
			height: 100%;

			path {
				transition: 0.25s fill;
			}
		}
	}

	.button {
		.icon path {
			fill: var(--color-normal);
		}

		&&:hover path {
			fill: var(--color-hover);
		}

		&&:active .icon path,
		&&:hover .dispatcher:checked + .icon path,
		.dispatcher:checked + .icon path {
			fill: var(--color-active);
		}
	}

	.button,
	.dispatcher {
		display: block;
		cursor: pointer;
		margin: 0;
		padding: 0;
		appearance: none;
		border: none;
		background: transparent;
	}

	.dispatcher {
		position: absolute;
		width: 20px;
		height: 20px;
	}

	.dispatcher + .button .icon path {
		fill: var(--color-normal);
	}

	.dispatcher:hover + .button .icon path {
		fill: var(--color-hover);
	}

	.dispatcher:checked + .button .icon path {
		fill: var(--color-active);
	}

	.featured {
		--color-active: #ffee00;
		--color-hover: rgba(255, 238, 0, 0.5);
	}

	.delete,
	.cancel {
		--color-active: #dc3545;
		--color-hover: rgb(220, 53, 69, 0.5);
	}

	.status {
		opacity: 0;
		pointer-events: none;
		cursor: default;
		border-radius: 100%;
		border: 0.5px solid #7f8081;
		appearance: none;
		background-color: transparent;
		animation-fill-mode: forwards;
		transition: background-color 0.25s, opacity 0.25s;
	}

	&&.error .status {
		pointer-events: auto;
		cursor: pointer;
		background-color: #dc3545;
		animation-name: status-error;
		animation-duration: 0.5s;
	}

	&&.warning .status {
		opacity: 1;
		background-color: #ffc107;
		animation-name: status-warning;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}

	&&.success .status {
		background-color: #28a745;
		animation-name: status-success;
		animation-duration: 5s;
	}

	.download,
	.resend-upload,
	.upload {
		--color-active: #007bff;
		--color-hover: rgba(0, 123, 255, 0.5);
	}

	.resend-upload,
	.upload {
		display: none;
	}

	.resend-upload {
		transition: transform 0.25s;

		&&:active {
			transform: rotate(180deg);
		}
	}

	&&.show-resend-upload-btn .resend-upload,
	&&.show-upload-btn .upload {
		display: block;
	}

	.info-editor {
		> .button {
			--color-active: #8338ec;
			--color-hover: rgba(131, 56, 236, 0.5);
		}

		.dispatcher {
			user-select: none;
		}

		.dispatcher:checked ~ .info-editor-form {
			display: block;
		}

		.info-editor-form {
			display: none;
			position: absolute;
			top: calc(100% + 5px);
			right: -1px;
			width: 100%;
			font-size: 0.85rem;
			line-height: normal;
			border: 1px solid #dee2e6;
			border-radius: 5px;
			z-index: 100;
			background-color: #fff;

			.row {
				display: flex;
				flex-wrap: wrap;
				padding: 5px;

				&&.actions {
					justify-content: space-between;
				}
			}

			label {
				margin-bottom: 2px;
			}

			input {
				border: 1px solid #dee2e6;
				border-radius: 2px;
				font-size: 0.85rem;
				line-height: normal;
				width: 100%;
				height: 20px;
			}

			input:focus {
				outline: 1px solid #8338ec;
			}

			.accept {
				--color-active: #28a745;
				--color-hover: rgba(40, 167, 69, 0.5);
			}
		}
	}

	&& input[disabled],
	&& .dispatcher[disabled] + .icon,
	&& .dispatcher[disabled] + .button,
	&& .button:has(.dispatcher[disabled]),
	&&.sending .button:not(.status) {
		pointer-events: none;
		user-select: none;
		filter: grayscale(1);
	}
}

@keyframes status-error {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes status-warning {
	0%,
	100% {
		background-color: rgb(255, 193, 7, 1);
	}
	25%,
	50% {
		background-color: rgba(255, 193, 7, 0.5);
	}
}

@keyframes status-success {
	0% {
		opacity: 0;
	}
	10%,
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
